$header_height: 100px;
$contentWidth: 1140px;

$site_color_1: #26495c;
$site_color_2: #c4a35a;
$site_color_3: #c66b3d;
$site_color_4: #f8f8f8;

// Media sizes

$xxl: 1440px;
$xl: 1140px;
$upper-middle: 1024px;
$middle: 767px;
$small: 425px;
